<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/Style.css" th:href="@{/css/Style.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h2>TODO LIST</h2>
		<h3>Add Item</h3>
		<form action="#" th:action="@{/add-todo}" th:object="${todoForm}"
			method="post">
			<p>
				<input id="new-task" type="text" th:field="*{title}">
				<button type="submit" value="Submit">Add</button>
			</p>
		</form>

		<h3>Todo</h3>
		<ul id="incomplete-tasks" th:each="todo: ${todoList}">
			<li><input type="checkbox"> <label
				th:text="${todo.title}">TASK</label> <input type="text">
				<button class="edit">Edit</button>
				<form action="#" th:action="@{/delete-todo}" th:object="${todoForm}"
					method="post">
					<input id="delete-task" type="text" th:value="${todo.title}"
						name="title">
					<button class="delete">Delete</button>
				</form></li>
		</ul>

		<h3 id="completed-tasks-title">Completed</h3>
		<ul id="completed-tasks">
			<li><input type="checkbox" checked><label>See
					the Doctor</label><input type="text">
				<button class="edit">Edit</button>
				<button class="delete">Delete</button></li>
		</ul>
	</div>
	<script type="text/javascript" th:src="@{/js/lib.js}"></script>
</body>
</html>
